
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Welcome to interview at IRIS 2015 Limited</h2>
<h2 style="text-align:center">@Html.ActionLink("Apply Now", "RegisterationPage", "Home")</h2>
<p>
    <img src="~/images/IRIS 2015 LIMITED.png" width="912" height="512" style="margin-left: 110px"/>
</p>

<p></p>